.button-orange {
  background-color: #FF8E00;
  padding: 10px 15px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-family: "assistant";
  font-size: 20px;
}
.button-orange:hover {
  opacity: 0.7;
}
